<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  {{!-- navigation links --}}
  <nav class="navbar">
  <div class="navbar-logo">
    <h2>Tech Blog</h2>
  </div>
  <div class="navbar-links">
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <div class="navbar-auth">
      {{!-- login/signup --}}
      {{#if loggedIn}}
      <button id="logout">Logout</button> 
      {{else}}
      <a href="/login">Login</a> 
      {{/if}}
    </div>
  </div>
</nav>
  <main>
    {{{ body }}}
  </main>


<!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>