<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
</head>

<body>

  {{!-- navigation links --}}
  <nav>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>

    {{!-- login/signup --}}
    {{#if loggedIn}}
    <a href="/logout">Logout</a>
    {{else}}
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    {{/if}}
  </nav>

  <main>
    {{{ body }}}
  </main>

</body>

</html>